.list_filter{border:1px solid #DBDBDB;padding:5px 15px;overflow:hidden;}
.list_filter dl{display:block;width:953px;clear:both;line-height:26px;padding:5px 0;overflow:hidden;border-bottom:1px solid #EAEAEA;}
.list_filter dl dt{width:85px;float:left;text-align:right;color:#666;}
.list_filter dl dd{float:left;display:block;width:868px;}
.list_filter dd .all{display:block;float:left;width:34px;padding:0 5px;text-align:center;}
.list_filter dd .all a{display:block;}
.list_filter dd .selections{display:block;float:left;}
.list_filter dd .brand_selections{width:824px;position:relative;}
.list_filter dd .brand_selections a{padding:0;}
.list_filter dd .brand_selections a b{display:block;line-height:26px;float:left;padding:0 5px;font-weight:normal;}
.list_filter dd .brand_selections a.curr{background:#FFF;}
.list_filter dd .brand_selections a.curr b{background:#CC0000;color:#FFF;font-weight:bold;}
.list_filter dd .brand_selections .more_brand_btn{position:absolute;top:0;right:0;width:45px;height:20px;background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -355px -312px transparent;}
.list_filter dd .brand_selections .more_brand_btn a{display:block;width:40px;padding-left:5px;height:20px;line-height:20px;text-align:left;color:#666;background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -470px -240px transparent;}
.list_filter dd .brand_selections .more_brand_btn a:hover{color:#666;}
.list_filter dd .brand_selections .more_brand_btn a.fold{background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -470px -228px transparent;}
.list_filter dd .selections a{display:block;float:left;padding:0 5px;white-space:pre;text-align:center;color:#0066CC;}
.list_filter dd .brand_selections a{width:110px;padding:0;text-align:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list_filter dd .selections a:hover{color:#CC0000;}
.list_filter dd .selections a.curr:hover{color:#FFF;}
.list_filter dd .enter_price{display:block;float:left;width:170px;}
.list_filter dd .enter_price .enter_price_input{float:left;width:129px;}
.list_filter dd .enter_price input{height:18px;line-height:18px;margin:0 5px;width:43px;border:1px solid #CACACA;}
.list_filter dd .enter_price a{height:22px;margin:2px 0;line-height:22px;width:41px;text-align:center;color:#666;display:block;float:right;background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -400px -312px transparent;}
.list_filter dd a.curr{background:#CC0000;color:#FFF;font-weight:bold;}
.filter_more{width:985px;}
.filter_more_bg{border:1px solid #DBDBDB;border-top:0;height:3px;overflow:hidden;background:#F7F7F7;}
.filter_more .expand,.filter_more .fold{height:15px;width:106px;padding:4px 8px;text-align:center;margin:0 auto;margin-top:-1px;background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -361px -176px transparent;}
.filter_more .expand span{display:block;width:106px;height:15px;line-height:15px;cursor:pointer;color:#666;background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -503px -242px transparent;}
.filter_more .fold span{display:block;width:106px;height:15px;line-height:15px;cursor:pointer;color:#666;background:url("../images/bg/bg_spirit_new.png") no-repeat scroll -503px -230px transparent;}
.search_list_filter{border-top:2px solid #CC0000;padding:5px 0;padding-top:0;}
.search_list_filter dl{padding:5px 15px;}
.search_list_result{height:32px;line-height:28px;padding:0 10px;background:url("../images/bg/page_repeat_bg.png") repeat-x 0 -67px;}
.search_list_result h2{font-size:14px;display:inline;color:#CC3300;font-weight:bold;}
.search_list_result h2 strong{color:#333;padding:0 6px;font-size:12px;}
.search_list_result b{padding:0 3px;color:#CC3300;}

/*首页拼图广告*/
.floor_pieces{width:767px;height:420px;position:relative;}
.floor_pieces a{display:block;position:absolute;}
.floor_pieces a .floor_piece_mask{position:absolute;background:#000;top:0;left:0;opacity:.2;filter:Alpha(opacity=20);}

/*商品评论页面*/
.good_comments_box{width:963px;border:1px solid #D3D3D3;margin-bottom:15px;}
.rank_lft{float:left;width:238px;padding:0 20px 0 10px;margin:20px 0;margin-bottom:10px;border-right:1px solid #E4E4E4;}
.rank_lft p{line-height:22px;text-align:center;}
.rank_number em{font-size:20px;font-weight:bold;color:#FE8502;padding:0 5px;}
.rank_icon{display:block;margin:5px 64px;width:110px;height:20px;background-image:url("../images/icons/ranks.png");background-repeat:no-repeat;}
.rank_icon_1{background-position:-88px 0;}
.rank_icon_2{background-position:-66px 0;}
.rank_icon_3{background-position:-44px 0;}
.rank_icon_4{background-position:-22px 0;}
.rank_icon_5{background-position:0 0;}
.rank_center{float:left;width:450px;padding:20px 10px 10px 10px;}
.rank_tip{width:29px;height:21px;line-height:18px;font-weight:bold;color:#FFF;text-align:center;overflow:hidden;background:url("../images/bg/bg_spirit_new.png") no-repeat left -197px;}
.rank_tip_5{margin-left:362px;}
.rank_tip_4{margin-left:285px;}
.rank_tip_3{margin-left:207px;}
.rank_tip_2{margin-left:129px;}
.rank_tip_1{margin-left:49px;}
.rank_cart{height:10px;overflow:hidden;width:420px;background:url("../images/bg/bg_spirit_new.png") no-repeat left -402px;}
.rank_level{width:420px;overflow:hidden;padding-top:15px;}
.rank_level ul{display:block;width:390px;overflow:hidden;clear:both;padding-left:30px;}
.rank_level ul li{float:left;color:#666;display:block;width:72px;text-align:center;margin-right:6px;}
.rank_rgt{float:left;width:220px;margin:20px 0;margin-bottom:10px;border-left:1px solid #E4E4E4;}
.rank_btn{padding:5px 10px 10px 10px;width:200px;}
.rank_btn .rankto_btn{display:block;width:101px;margin:0 50px;height:30px;line-height:30px;text-align:center;color:#FFF;border:0 none;font-weight:bold;font-size:14px;background:url("../images/bg/bg_spirit_new.png") no-repeat -30px -348px;}
.rank_btn .rankto_btn:hover{color:#FFF;}
.rank_btn p{line-height:28px;width:200px;text-align:center;}
.rank_btn p a{color:#0066CC;}

.good_comments_list{margin-bottom:20px;width:965px;}
.good_comment{width:965px;margin-bottom:15px;clear:both;overflow:hidden;}
.good_comment_user{float:left;width:130px;text-align:center;}
.g_c_user_avatar img{border:2px solid #EAEAEA;}
.g_c_user_name{font-weight:bold;}
.g_c_user_date{color:#999;}
.good_comment_content{float:left;width:792px;padding:10px 20px;position:relative;border:1px solid #FADCB2;background:#FFFAED;border-radius:2px 2px 2px 2px;}
.g_c_content_title{height:20px;clear:both;overflow:hidden;width:792px;border-bottom:1px solid #F9F0DB;}
.g_c_content_title span{display:block;height:20px;line-height:20px;}
.g_c_c_rank{float:left;}
.g_c_c_date{float:right;color:#999;}
.g_c_c_rank b{display:block;float:left;height:20px;width:69px;background-image:url("../images/icons/ranks.png");background-repeat:no-repeat;}
.rank_small_5{background-position:0 -21px;}
.rank_small_4{background-position:-15px -21px;}
.rank_small_3{background-position:-29px -21px;}
.rank_small_2{background-position:-43px -21px;}
.rank_small_1{background-position:-57px -21px;}
.g_c_extra{position:absolute;height:20px;width:11px;top:15px;left:-10px;background:url("../images/bg/bg_spirit_new.png") no-repeat left -374px;}
.g_c_content{padding-top:10px;line-height:20px;min-height:20px;overflow:hidden;}
.g_c_btn{height:25px;line-height:25px;width:792px;clear:both;overflow:hidden;margin-top:10px;}
.g_c_btn span{display:block;float:left;height:25px;line-height:25px;color:#999;padding-right:12px;}
.g_c_btn a{display:block;float:left;height:25px;width:60px;text-align:center;margin-right:8px;color:#0066CC;line-height:25px;background:url("../images/bg/bg_spirit_new.png") no-repeat -70px -322px;}

/*商品评论列表页面*/
.allcomments_good_panel{border:1px solid #B70306;}
.allcomments_good_panel h2{display:block;height:31px;line-height:31px;font-size:14px;padding-left:25px;font-weight:bold;color:#FFF;border-bottom:1px solid #DBDBDB;background:url("../images/bg/repeat_bg.png") repeat-x 0 -799px;}
.allcomments_good{padding:15px;}
.allcomments_good_pic{text-align:center;padding-bottom:10px;}
.allcomments_good_pic img{width:173px;height:173px;}
.allcomments_good_price{color:#999;text-align:left;line-height:22px;}
.allcomments_good_price b{color:#CC0000;}
.allcomments_good_btn{overflow:hidden;text-align:center;}
.allcomments_nav{height:27px;border-bottom:2px solid #BE0000;margin-bottom:10px;width:985px;}
.allcomments_nav ul{clear:both;overflow:hidden;display:block;width:985px;height:27px;}
.allcomments_nav ul li{display:block;float:left;height:27px;margin-right:3px;padding-left:12px;background:url("../images/bg/bg_title.png") no-repeat -589px -492px;}
.allcomments_nav ul li a{display:block;float:left;height:27px;padding:0 12px;padding-left:0;line-height:27px;text-align:center;font-weight:bold;background:url("../images/bg/bg_title.png") no-repeat right -492px;}
.allcomments_nav ul li.curr{background-position:-589px -462px;}
.allcomments_nav ul li.curr a{background-position:right -462px;color:#FFF;}

/*查看商品大图页面*/
.bigview_wrap{width:960px;margin:15px auto;}
.bigview_lft{width:802px;float:left;}
.bigview_lft h1{display:block;line-height:35px;font-size:16px;padding-left:8px;background:#F0F0F0;border:1px solid #DBDBDB;}
.bigview_lft h1 b{font-size:14px;color:#666;font-weight:normal;padding-left:5px;}
.bigview_lft h1 a{display:block;float:right;width:65px;height:25px;line-height:25px;padding-left:25px;margin:5px 6px 5px 0;font-size:12px;font-weight:normal;color:#FFF;background:url("../images/bg/bg_spirit_new.png") no-repeat left -416px;}
.bigview_pic{width:800px;height:800px;padding:1px;margin:10px 0;}
.bigview_pic img{width:800px;height:800px;}
.bigview_pic .om-slider-directionNav a.om-slider-prevNav{width:33px;height:34px;background:url("../images/bg/bg_spirit_new.png") no-repeat left -441px;}
.bigview_pic .om-slider-directionNav a.om-slider-nextNav{width:33px;height:34px;background:url("../images/bg/bg_spirit_new.png") no-repeat -34px -441px;}
.bigview_btn{height:38px;}
.bigview_btn a{display:block;height:38px;margin:0 auto;width:133px;background:url("../images/bg/bg_spirit_new.png") no-repeat -52px -581px;}
.bigview_rgt{width:134px;float:right;}
.bigview_slider{width:134px;position:relative;padding:40px 0;height:695px;}
.bigview_slider span{display:block;position:absolute;width:18px;height:13px;top:9px;left:58px;}
.bigview_slider span b{display:block;width:18px;height:13px;cursor:pointer;background:url("../images/bg/bg_spirit_new.png") no-repeat -94px -443px;}
.bigview_slider span b.noctrl{background-position:-69px -443px;}
.bigview_slider .bigview_slider_rgt{top:745px;left:58px;}
.bigview_slider .bigview_slider_rgt b{background-position:-94px -472px;}
.bigview_slider .bigview_slider_rgt b.noctrl{background-position:-69px -472px;}
.bigview_slider_list{width:134px;height:695px;overflow:hidden}
.bigview_slider_listbox{width:134px;}
.bigview_slider_listbox ul{display:block;overflow:hidden;clear:both;width:134px;height:695px;}
.bigview_slider_listbox ul li{display:block;float:left;width:130px;height:130px;margin-bottom:5px;overflow:hidden;cursor:pointer;border:2px solid #DBDBDB;}
.bigview_slider_listbox ul li.nav-selected{border:2px solid #FF3000;}
.bigview_slider_listbox ul li img{width:130px;height:130px;}

#dialogBox{position:absolute;top:0;left:0;display:none;z-index:99999;text-align:left;background:#FFF;border:2px solid #CCC;}
#dialogBox img{border:0;margin:0;}
.dialog_box_title_wrap{height:32px;width:440px;border-bottom:1px solid #DBDBDB;position:relative;background:url("../images/bg/repeat_bg.png") repeat-x 0 -722px;}
.dialog_box_title{line-height:32px;height:32px;padding-left:15px;font-size:14px;font-weight:bold;}
.dialogBox_close{position:absolute;top:7px;right:5px;clear:both;height:18px;line-height:19px;width:30px;padding-right:20px;cursor:pointer;background:url("../images/bg/bg_spirit_new.png") no-repeat 30px -603px;}
.dialog_box_content{padding:5px;}
#dialogBox_overlay{position:absolute;top:0;left:0;width:100%;height:100%;}
.dialogBox_hide{z-index:-100;}
.dialogBox_overlayBG{background:#000;z-index:99998;}
#dialogBox_loading{width:32px;height:32px;margin:0 auto;background:url("../images/icons/loading.gif") no-repeat 0 0;}